<form action="/" accept-charset="UTF-8" method="POST" class="w-50">
    <label for="searchtext" class="form-label">Station Search</label>

    <div class="input-group">
        <span class="input-group-text" id="searchtext_prompt">Name, ID, Region, etc:</span>
        <input type="text" class="form-control" name="searchtext" id="searchtext" placeholder="Station..."/>
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<%
   if defined? request_url
       uri = URI.parse(request_url)
   end
%>

<% if (tide_results.count > 0 rescue false) %>
<table class="table table-striped table-hover caption-top">
    <caption>Tide Stations</caption>
    <thead class="table-light"><tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Region</th>
        <th scope="col">.ICS</th>
        <th scope="col" class="text-right">Refine</th>
    </tr></thead>
<tbody>
<% tide_results.each do |r| %>
    <tr>
    <th scope="row"><a href="https://tidesandcurrents.noaa.gov/stationhome.html?id=<%= r['stationId'] %>"><%= r['stationId'] %></a></th>
    <td><%= r["commonName"] %></td>
    <td><%= r["region"]%></td>

    <%
       uri.path = "/tides/#{r['stationId']}.ics"

       uri.scheme = "webcal"
       webcal_url = uri.to_s
       uri.scheme = "https"
       https_url  = uri.to_s
       url_id     = "url_#{r['stationId']}"
    %>
    <td>

        <div class="btn-group dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                webcal
            </a>
            <div class="dropdown-menu" style="min-width: 100px;" aria-labelledby="dropdownMenuButton">
                <input id="<%= url_id %>" name="<%= url_id %>" type="hidden" value="<%= webcal_url %>">
                <a href='javascript:navigator.clipboard.writeText(document.getElementById("<%= url_id %>").value);'><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Clipboard_Pictogram.svg" decoding="async" width="29" height="29"></a>
                <a href="<%= https_url %>" target="_blank"><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Gnome-document-save-as.svg" decoding="async" width="25" height="30" ></a>
                <a href="<%= webcal_url %>" target="_blank"><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Google_Calendar_icon.svg" decoding="async" width="29" height="29"></a>
            </div>
        </div>

    </td>

    <td>

        <div class="btn-group dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Radius
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form action="/" method="POST" style="margin-block-end: 0; margin: 3px;">
                    <label for="within" class="form-label">Any stations within</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="within" id="within" />
                        <input type="hidden" name="searchtext" value="<%= r['stationId'] %>" />
                        <span class="input-group-text" id="radius_units">mi</span>
                        <button class="btn btn-secondary btn-sm" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>

    </td>

</tr>
<% end %>
</tbody>
</table>
<p/>
<% end %>


<% if (current_results.count > 0 rescue false) %>
<table class="table table-striped table-hover caption-top">
    <caption>Current Stations</caption>
    <thead class="table-light"><tr>
        <th scope="col">ID</th>
        <th scope="col">Depth (ft)</th>
        <th scope="col">Name</th>
        <th scope="col">.ICS</th>
        <th scope="col">Refine</th>
    </tr></thead>
<tbody>
<% current_results.each do |r| %>
<tr>
    <th scope="row"><a href="https://tidesandcurrents.noaa.gov/noaacurrents/Predictions?id=<%= r['bid'] %>"><%= r['id'] %></a></td>
    <td><%= r["depth"].to_i %></td>
    <td><%= r["name"] %></td>

    <%
       uri.path = "/currents/#{r['bid']}.ics"

       uri.scheme = "webcal"
       webcal_url = uri.to_s
       uri.scheme = "https"
       https_url  = uri.to_s
       url_id     = "url_#{r['bid']}"
    %>
    <td>

        <div class="btn-group dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                webcal
            </a>
            <div class="dropdown-menu" style="min-width: 100px;" aria-labelledby="dropdownMenuButton">

                <input id="<%= url_id %>" name="<%= url_id %>" type="hidden" value="<%= webcal_url %>">
                <a href='javascript:navigator.clipboard.writeText(document.getElementById("<%= url_id %>").value);'><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Clipboard_Pictogram.svg" decoding="async" width="29" height="29"></a>
                <a href="<%= https_url %>" target="_blank"><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Gnome-document-save-as.svg" decoding="async" width="25" height="30" ></a>
                <a href="<%= webcal_url %>" target="_blank"><img alt="" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Google_Calendar_icon.svg" decoding="async" width="29" height="29"></a>
            </div>
        </div>

    </td>

    <td>

        <div class="btn-group dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Radius
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form action="/" method="POST" style="margin-block-end: 0; margin: 3px;">
                    <label for="within" class="form-label">Any stations within</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="within" id="within" />
                        <input type="hidden" name="searchtext" value="<%= r['bid'] %>" />
                        <span class="input-group-text" id="radius_units">mi</span>
                        <button class="btn btn-secondary btn-sm" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>

    </td>

</tr>
<% end %>
</tbody>
</table>
<p/>
<% end %>
